<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464041084812-rhae8ugts3i34f5tikb9g8buglv86mot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464041084812-rhae8ugts3i34f5tikb9g8buglv86mot</string>
	<key>API_KEY</key>
	<string>AIzaSyDZPgmtIXHIGG-mKMH_Duh-ncZqLhqSSbg</string>
	<key>GCM_SENDER_ID</key>
	<string>464041084812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kami.snapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-f3bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-f3bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464041084812:ios:8eacc60f90c1718dfb78a9</string>
</dict>
</plist>